@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.cvBtn {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-accent);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    background: transparent;
    color: var(--color-accent);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;

  &:hover {
    // Un pequeño filtro para oscurecer el fondo si no quieres definir otro color manual
    //filter: brightness(1.1);
    //transform: translateY(-2px);
        //transform: translateY(-3px);
    background-color: transparent;
    color: var(--color-accent);
    box-shadow: 0 10px 20px rgba(var(--rgb-accent), 0.3);

  }
} 

  .icon {
    font-size: $font-size-base;
    margin-left: 0.5rem;
  }