// src/pages/HomePage/sections/AboutSection/AboutSection.module.scss
@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins.scss' as *;
@use '../../../../styles/typography' as *;

.section {
  position: relative;
  z-index: 2;
  padding: 6rem 1.5rem;
  background: var(--color-bg);
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Contenedor animado */
.text {
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

/* Título */
.title {
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Subtítulo */
.subtitle {
  font-size: $font-size-md;
  font-weight: 600;
  opacity: 0.85;
}

/* Acciones */
.actions {
  margin-top: 2rem;
}

.ctasContainer {
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* CTA */
.ctaBtn {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-accent);
  padding: 0.75rem 1.5rem;
  border-radius: $radius-md;
  background: transparent;
  color: var(--color-accent);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
    &:hover {
    background-color: transparent;
    color: var(--color-accent);
    box-shadow: 0 10px 20px rgba(var(--rgb-accent), 0.3);

  }
}
.lineSeparator{
  width: 100%;
  height: 0.5px;
  width: 50%;                 
  margin: 100px auto 0;      
  background-color: rgba(var(--rgb-text), 0.1);
  box-shadow: 2px 2px 14px rgba(var(--rgb-accent), 0.3);
  /* Opcional: bordes redondeados para un look más suave */
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .text {
    padding: 0 1rem;
  }
}
