// src/pages/HomePage/sections/AboutSection/AboutSection.module.scss
@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins.scss' as *;
@use '../../../../styles/typography' as *;

.section {
  position: relative;
  z-index: 2;
  padding: 6rem 1.5rem;
  background: var(--color-bg);
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    text-align: center;
    margin-bottom: 3rem;
  }
  h2{
    text-align: center;
  }
  span {
    color: var(--color-text);
    text-align: center ;
  }
}
.text {
  width: 100%;
  padding: $spacing-md;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textActions {
  width: 100%;
  padding: $spacing-md ;
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.ctasContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
 // background-color: red;
}

// .visual {
//   position: relative;
//   height: 820px;
//   overflow: hidden;
//   border-radius: 24px;
//   background-color: #f0f0f0;
// }
.cta{
  margin-top: 2rem;
  border: 1px solid var(--color-accent);
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background: transparent;
  color: var(--color-accent);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

// /* ESTA es la capa que se mueve */
// .visualInner {
//   position: absolute;
//   inset: -20%;
//   will-change: transform;
//   background: linear-gradient(
//     135deg,
//     rgba(255, 0, 200, 0.9),
//     rgba(0, 0, 0, 0.95)
//   );
// }

@media (max-width: 900px) {
  .inner {
    grid-template-columns: 1fr;
  }

  .visual {
    height: 260px;
  }
}
