@use "../../styles/variables" as *;

.card {
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 1.5rem;

  border-radius: 16px;
  border: 1px solid rgba(var(--rgb-text), 0.12);
  background: rgba(var(--rgb-bg), 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  overflow: hidden;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover,
  &:focus-visible {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    border-color: rgba(var(--rgb-accent), 0.85);
  }
}

.icon {
  font-size: 3rem;
  color: var(--color-text);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.content {
  position: absolute;
  inset: 0;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  text-align: center;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  h3 {
    margin: 0;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    opacity: 0.95;
    color: var(--color-text);
  }
}

/* Hover desktop */
@media (hover: hover) {
  .card:hover .icon {
    opacity: 0;
    transform: scale(0.9);
  }

  .card:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Click / teclado */
.open {
  .icon {
    opacity: 0;
    transform: scale(0.9);
  }
  .content {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Progress */
.progressWrapper {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.progressBar {
  width: 100%;
  height: 80px;
  margin-top: 0.75rem;
  background: rgba(var(--rgb-text), 0.15);
  border-radius: 6px;
  overflow: hidden;
}
.progressFill {
  height: 100%;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-right: 6px;

  background: linear-gradient(
    30deg,
    //var(--color-text),
    rgba(var(--rgb-text), 0.1),
    rgba(var(--rgb-accent), 0.95)
  );
  border-radius: 6px;
  transition: width 2.0s cubic-bezier(0.22, 1, 0.36, 1);
}

.progressPercent {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-bg);
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.levelBox {
  height: 100%;

  .levelText {
    height: 70%;
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 8px;
    animation: fadeIn 0.8s ease forwards;
    strong {
      color: rgba(var(--rgb-accent), 0.9);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 0.5;
      transform: translateY(0);
    }
  }

}

.progressLabel {
  font-size: 0.75rem;
  opacity: 0.85;
  align-self: flex-end;
}

