//src/conponents/GitHubCalendarSection/GitHubCalendarSection.module.scss

.calendar {
  margin-top: 4rem;

  h3 {
    margin-bottom: 1.5rem;
  }

  :global(.react-github-calendar) {
    width: 100%;
  }

  :global(.react-github-calendar svg) {
    max-width: 1200px;
  }
}
