//src/conponents/GitHubCalendarSection/GitHubCalendarSection.module.scss

.calendar {
  margin-top: 4rem;

  h3 {
    margin-bottom: 1.5rem;
    //text-align: center;
  }
}

.calendarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* estilos globales del SVG */
:global(.react-github-calendar) {
  max-width: 1200px;
}

/* ⚠️ NO tocar pointer-events o se rompe el tooltip */

