// src/styles/_typography.scss
@use './variables' as *;

/* Tipografía base */
body {
  font-family: $font-base;
  font-size: $font-size-base;
  line-height: 1.6;
  color: var(--color-text);
}

/* Headings */
h1,
h2,
h3 {
  color: var(--color-text);
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
