// src/styles/_typography.scss
@use './variables' as *;

/* ======================================================
   BASE TEXT
   ====================================================== */

body {
  font-family: $font-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: var(--color-text);
}

/* ======================================================
   HEADINGS
   ====================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: var(--color-accent);
  line-height: $line-height-heading;
  font-weight: 600;
}

/* Jerarquía */
h1 {
  font-size: $font-size-2xl;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-xl;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-lg;
  text-transform: capitalize;
}

/* Headings menores: neutros */
h4,
h5,
h6 {
  font-size: $font-size-base;
  text-transform: none;
}
