@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   background-color: $light-color;
//   color: $color-text;
//   font-family: $font-main;

// }

h1 {
  font-size: 2rem;
  color: $primary-color;
}

h2 {
  font-size: 2rem;
  color: $primary-color;
  padding: 0.5rem ;
  text-align: center;
  text-transform: uppercase;
} 

h3 {
  font-size: 1.5rem;
  color: $secondary-color;
  padding: 1rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  
}