
:root {
  --color-bg: #ffffff;
  --color-text: #141414;
  --color-accent: #ff00d1;;
  --color-gray: #e5e7eb;
    /* versiones RGB para efectos translucidos */
  --rgb-bg: 255, 255, 255;
  --rgb-text: 0, 0, 0;
}

[data-theme='dark'] {
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-accent: #ff00d1;
  --color-gray: #2a2a2a;

  --rgb-bg: 13, 13, 13;
  --rgb-text: 255, 255, 255;
}
$color-light-bg: #7192ff;
$color-dark-bg: #020224;
$color-primary: #ff00d1;
$color-secondary: #c6c1c7;
$color-gray: #E5E7EB;
$accent-gold: #D4AF37;
$color-bird2: #e5e7eb;
$color-bird1: #ff00d1;
