// src/styles/_variables.scss
/* ======================================================
    CSS VARIABLES (THEME)
   ====================================================== */

:root {
  --color-bg: #dfdfdf;
  --color-text: #141414;
  --color-accent: #ff3f81; // Rosa vibrante
  --color-gray: #2a2a2a;

  --rgb-bg: 255, 255, 255;
  --rgb-text: 20, 20, 20;
  --rgb-accent: 255, 63, 129; // Corregido para match con hex
}

[data-theme='dark'] {
  --color-bg: #141414;
  --color-text: #dfdfdf;
  --color-accent: #ff3f81;
  --color-gray: #2a2a2a;

  --rgb-bg: 0, 0, 0;
  --rgb-text: 255, 255, 255;
  --rgb-accent: 255, 63, 129;
}



/* ======================================================
   SASS VARIABLES (STRUCTURAL)
   ====================================================== */

/* Spacing */
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-2xl: 4.5rem;

/* Radius */
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

/* Breakpoints */
$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

/* Z-index */
$z-header: 1000;
$z-modal: 2000;

/* ======================================================
   TYPOGRAPHY TOKENS
   ====================================================== */

$font-base: 'Montserrat', sans-serif;
$font-heading: 'Lora', serif;

$font-size-xs: 0.50rem;
$font-size-sm: 0.75rem;
$font-size-base: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.50rem;
$font-size-xl: 2rem;
$font-size-2xl: 3rem;
$font-size-3xl: 4rem;
$font-size-4xl: 6rem;

$line-height-base: 1.6;
$line-height-heading: 1.2;

// Regla de oro (guárdala)
// Si algo depende del theme → CSS variable
// Si algo es estructural → SASS variable