//src/styles/main.scss
/* ======================================================
   ENTRY POINT GLOBAL DE ESTILOS
   Este archivo NO define estilos concretos de componentes
   ====================================================== */


/* 1. Imports (SIEMPRE ARRIBA) */
@use './variables' as *;
@use './mixins' as *;
@use './typography';

@use './layout/Header';
@use './layout/MainLayout';

@use './pages/homePage';
@use './pages/Projects';
@use './pages/ProjectDetail';

/* 2. Reset + estilos globales */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

/* Root de React */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Elementos base */
main {
  flex: 1;
  width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
