//src/pages/HomePage/sections/ProjectsSection/ProjectsSection.module.scss
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.section {
  position: relative;
  z-index: 2;
  width: 100%;
  padding:  $spacing-md;
  //background-color: rgba(var(--rgb-bg), 0.25); // semitransparente como en ContactSection
  backdrop-filter: blur(6px); // mejora legibilidad

  @include respond(md) {
    padding: 4.5rem $spacing-md;
  }

  @include respond(lg) {
    padding: 6rem $spacing-md;
  }
}

.Inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: $font-heading;
  font-size: $font-size-2xl;
  line-height: $line-height-heading;
  text-align: center;
  margin-bottom: $spacing-lg;

  @include respond(md) {
    font-size: clamp(2.2rem, 4vw, 2.8rem);
  }

  @include respond(lg) {
    font-size: clamp(2.8rem, 4vw, 3.5rem);
  }
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacing-lg;
  //background-color: violet;
}

.viewAllLink {
  display: inline-block;
  text-align: center;
  margin-top: $spacing-lg;
  padding: 0.75rem 2rem;

font-family: $font-base;
  font-size: $font-size-base;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--color-accent);
  background-color: transparent;
  border-radius: $radius-md;
  border: 2px solid var(--color-accent);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 28px rgba(var(--rgb-text), 0.2);
  }

  &:active {
    transform: scale(0.96);
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 4px;
  }
}
/* ────────────────
   DESKTOP ≥ lg
──────────────── */
@include respond(lg) {
  .Inner{
    max-width: 1400px;
    padding: $spacing-xl;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
  }

  .projectsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .Title {
    font-size: $font-size-2xl;
  }
  .contactButton {
    margin-top: 2rem;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 10px 28px rgba(var(--rgb-text), 0.2);
    }
  }
}