//src/pages/HomePage/sections/ProjectsSection/ProjectsSection.module.scss
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.section {
  position: relative;
  width: 100%;
  padding: $spacing-xl 0;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;
  text-align: center;
}

.title {
  font-size: $font-size-xl;
  color: var(--color-accent);
  margin-bottom: $spacing-md;
}

.subtitle {
  font-size: $font-size-md;
  margin-bottom: $spacing-lg;
  color: var(--color-text);
}

/* ===== CAROUSEL ===== */

.carousel {
  display: flex;
  gap: $spacing-lg;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: $spacing-md 0;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  flex: 0 0 80%;
  scroll-snap-align: start;

  @include respond(md) {
    flex: 0 0 45%;
  }

  @include respond(lg) {
    flex: 0 0 30%;
  }
}

/* ===== ARROWS (FUERA DEL INNER) ===== */

.arrow {
  position: absolute;
  top: 50%;
  //transform: translateY(-50%);
  background: rgba(var(--color-bg), 0.85);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  font-size: $font-size-xl;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  transition: transform 0.2s ease, opacity 0.2s ease;

  &:hover {
   // transform: translateY(-50%) scale(1.1);
   color: rgba(var(--rgb-accent), 0.3);
  }

  @media (max-width: 768px) {
    display: none; // mobile usa swipe
  }
}

.left {
  left: 4rem;
}

.right {
  right: 4rem;
}

/* ===== VIEW ALL ===== */

.viewAllLink {
  display: inline-block;
  margin-top: $spacing-lg;
  padding: 0.75rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  border-radius: $radius-md;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(var(--rgb-accent), 0.3);
  }
}
