//src/pages/AboutPage/AboutPage.module.scss
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.about {
  padding: 4rem 1.5rem;
  margin:100px  auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 3rem;
  align-items: start;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

/* TEXTO */
.text {
  animation: fadeUp 0.8s ease forwards;
}

.title {
  margin-bottom: 1.5rem;
}

.subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.text p {
  margin-bottom: 1rem;
  max-width: 65ch;
  opacity: 0.9;
}

/* HOBBIES */
.hobbies {
  list-style: disc;
  padding-left: 1.2rem;

  li {
    margin-bottom: 0.4rem;
  }
}

/* FOTO */
.photoWrapper {
  display: flex;
  justify-content: center;
}

.photoPlaceholder {
  width: 280px;
  height: 360px;
  border-radius: 12px;
  background: rgba(var(--rgb-text), 0.05);
  border: 1px dashed rgba(var(--rgb-text), 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
  opacity: 0.6;

  animation: fadeIn 1s ease forwards;
}

/* ANIMACIONES */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
