/* src/pages/ProjectsPage/ProjectsPage.module.scss */

.projects {
  padding: 2rem 1.5rem;
  margin: 50px auto;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}
