//src/pages/SkillsPage/SkillsPage.module.scss

@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.skills {
  padding: 4rem 1.5rem;
  margin: 100px auto 0 auto;
}
.tools {
  padding: 4rem 1.5rem;
  margin: 0 auto 0 auto;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.subtitle {
  margin-top: 2rem;
}

strong {
  color: var(--color-accent);
}

/* GRID DE SKILLS */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  
  @include respond(md) {
    grid-template-columns: repeat(4, 1fr);
  }

}