// src/pages/ContactPage/ContactPage.module.scss

@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contactPage {
  padding: 4rem 1.5rem;
  margin: 100px auto;
}

.inner {
  max-width: 1200px;
  margin: 1rem auto;

}
.titleWrapper {
  margin-bottom: 2rem;
  h1 {
    margin-bottom: 1rem;
  }
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 4rem;
  align-items: center;

  @include respond(md) {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* Formulario */
.formWrapper {
  margin: 0;
  padding: 1rem 0;
}


/* INFO */
.contactWrapper{
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //gap: 0.5rem;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 3;
  color: var(--color-text);
  font-size: 1rem;

  svg {
    font-size: 1.4rem;
    color: var(--color-accent);
    min-width: 24px;
  }

  a, span {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.2rem;

    &:hover {
      color: var(--color-accent);
    }
  }
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* SOCIALS */
.socialMediaList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  list-style: none;
 

  li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease;
    cursor: pointer;

    &:hover {
      background: var(--color-accent);
      //transform: scale(1.1);
    }

    a {
      color: var(--color-text);
      font-size: 2rem;
    }

    &:hover a {
      color: var(--color-bg);
    }
  }
}

.copyright {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  color:rgba(255, 255, 255, 0.439);
}

